h1 {
    text-align: center;
    font-size: 700%;
    color: #3e8e41;
  }
  
  button.hidden {
    display: none;
  }
  
  .button {
    margin: 20px;
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
  }
  
  .button:hover {
    background-color: #3e8e41
  }
  
  .button:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }
  
  #player-1 {
    text-align: center;
    font-size: 25px;
    display: flex;
  
    flex-direction: column;
    max-width: 200px;
  
  }
  #player-2 {
    text-align: center;
    font-size: 25px;
    display: flex;
    flex-direction: column;
    max-width: 200px;
  }
  
  #players {
    max-height: 35vh;
    padding-left: 30vh;
    padding-right: 30vh;
    margin-top: 100px;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
  }
  
  
/* #player-1 {
    display: flex;
    flex-direction: column;
    max-width: 150px;
    margin-top: ;
}
#player-2 {
    display: flex;
    flex-direction: column;
} */